<h6>{{comment.user.username}} {{comment.timeSinceCreated}} ago</h6>
{{#unless isEditing}}
  <p>{{markdown-to-html comment.content}}</p>
  {{#if auth.isAuthenticated}}
    {{#if (eq comment.user.id auth.userId)}}
      <button class="btn-posts" {{action 'delete' comment}}>Remove</button>
      <button class="btn-posts" {{action 'openEdit'}}>Edit</button>
    {{/if}}
    {{#unless replying}}
      <button class="btn-posts" {{action 'openReply'}}>Reply</button>
    {{/unless}}
  {{/if}}
{{/unless}}

{{#if isEditing}}
  {{textarea
    class="comment-textarea"
    type=text
    value=comment.content}}
    <div>
      <button class="btn-posts" {{action 'update' comment}}>Save</button>
      <button class="btn-posts" {{action 'closeEdit'}}>Cancel</button>
    </div>
{{/if}}

{{#if replying}}
  {{new-comment-form
    parent=comment
    newChild='newChild'
    closeReply='closeReply'}}
{{/if}}

{{#each comment.children as |child|}}
  {{child-comment-node
    comment=child
    newChild='newChild'
    update='update'
    delete='delete'}}
{{/each}}
