<h3>{{title}}</h3>
{{#unless isEditing}}
  <p>
    {{markdown-to-html content}}
  </p>
  {{#if auth.isAuthenticated}}
    {{#if (eq owner.id auth.userId)}}
      <button class="btn-posts" {{action 'openEdit'}}>Edit</button>
      <button class="btn-posts" {{action 'delete'}}>Delete</button>
    {{/if}}
  {{/if}}
{{/unless}}

{{#if isEditing}}
  {{textarea
    class="post-edit-textarea"
    type=text
    value=content}}
    <div>
      <button class="btn-posts" {{action 'update'}}>Save</button>
      <button class="btn-posts" {{action 'closeEdit'}}>Cancel</button>
    </div>
{{/if}}
